html, body, #root, .App{
  width: 432px;
  height: 100%;
}

.App {
}

.App-body {
  height: calc(100% - 50px);
  box-sizing: border-box;
  padding:  10px 30px;
  background: linear-gradient(to bottom right, #D3E2E5, #B3BBE2);
}

.card {
  margin: 0 0 10px;
  animation: fade-in 0.5s
}

@keyframes fade-in{
  0%{opacity: 0; transform: translate3d(0, 10px, 0)}
  100%{opacity: 1; transform: translate3d(0, 0px, 0)}
}